@model Turismall.Models.Destino

@{
    ViewData["Title"] = "Detalle";
}

<h2 style="text-align:center">@Html.DisplayFor(model => model.Nombre)</h2>
<br />
<div>
    <p>@Html.DisplayFor(model => model.Descripcion)</p>
</div>
<div>
    <a asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-backward" /></a>
</div>
