@model Turismall.Models.Destino

@{
    ViewData["Title"] = "Detalle";
}

<div class="center-block">
    <a href="@Url.Content("~/Destinos/" + Model.FotoPortada)">
        <img border="0" alt="Imagen" src="@Url.Content("~/Destinos/" + Model.FotoPortada)" width="100%">
    </a>
</div>
<br />
<div class="well">
    <p>@Html.DisplayFor(model => model.Descripcion)</p>
</div>
