@model IEnumerable<Turismall.Models.Destino>

@{
    ViewData["Title"] = "Index";
}

<h2>Destinos</h2>

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Details" class="btn btn-default" asp-route-id="@item.ID"><span class="glyphicon glyphicon-file" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
