@model IEnumerable<Turismall.Models.Destino>

@{
    ViewData["Title"] = "Index";
}

<h2>Destinos</h2>

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
        </tr>
}
    </tbody>
</table>
