@model IEnumerable<Turismall.Models.Destino>

@{
    ViewData["Title"] = "Destinos";
}

<h2>Destinos</h2>

<table class="table table-hover">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <h4><a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Nombre)</a></h4>
                </td>
            </tr>
        }
    </tbody>
</table>
