@model Turismall.Models.Viaje

@{
    ViewData["Title"] = "Agregar viaje";
}

<div class="btn-group-justified">
    <h2>
        Agregar viaje
    </h2>
</div>

<br/>

<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-12">
                <b><input asp-for="Nombre" class="form-control" /></b>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input asp-for="Descripcion" class="form-control" placeholder="Ingresá una descripción" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#saving"><span class="glyphicon glyphicon-ok" /><font face="sans-serif"> Agregar</font></button>
                <div id="saving" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Agregando...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
