@model Turismall.Models.Viaje

@{
    ViewData["Title"] = "Editar";
}

<div class="btn-group-justified">
    <h2>
        Editar viaje
    </h2>
</div>

<br />

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="Usuario" />
        <input type="hidden" asp-for="FechaInicio" />
        <input type="hidden" asp-for="FechaFin" />
        <div class="form-group">
            <div class="col-md-12">
                <b><input asp-for="Nombre" class="form-control" /></b>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <textarea asp-for="Descripcion" class="form-control" ></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#saving"><span class="glyphicon glyphicon-floppy-disk" /><font face="sans-serif"> Guardar</font></button>
                <div id="saving" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Guardando...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
