@model Turismall.Models.Nota

@{
    ViewData["Title"] = "Delete";
}

<h2>Borrar</h2>

<h3>¿Esta seguro que desea borrar la nota?</h3>
<div>
    <h4>Nota</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            <a asp-action="Index">Volver</a>
        </div>
    </form>
</div>
