@model Turismall.Models.Nota

@{
    ViewData["Title"] = "Delete";
}

<h2>Borrar</h2>

<h3>¿Esta seguro que desea borrar la nota?</h3>
<div>
    <h4>Nota</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="col-md-10">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon" /><font face="sans-serif"> Borrar</font></button>
        </div>
    </form>
</div>
<div>
    @Html.ActionLink("Volver", "Index", new { Controller = "Nota", idViaje = Model.ViajeID }, new { @class = "btn btn-default btn-sm" })
</div>