@model Turismall.Models.Nota

@{
    ViewData["Title"] = "Subir foto";
}

<div class="btn-group-justified">
    <h2>
        Subir foto
    </h2>
</div>

<br />

<form asp-action="Photo" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="hidden" asp-for="ViajeID" />
        <input type="hidden" asp-for="Fecha" />
        <input type="hidden" asp-for="Texto" />
        <input type="hidden" asp-for="DestinoID" />
        <div class="form-group">
            <div class="col-md-12">
                <input class="form-control" type="file" name="Foto" accept="image/jpeg" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#saving"><span class="glyphicon glyphicon-upload" /><font face="sans-serif"> Subir</font></button>
                <div id="saving" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p>Subiendo...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
