@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "Registro";
}

<h3>Vincule su cuenta de @ViewData["LoginProvider"]</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <hr />
    
    <p class="text-info">
        Se ha autenticado con éxito con su cuenta de @ViewData["LoginProvider"].
        Por favor ingrese una dirección de correo y haga clic en "Registrarse" para completar el proceso.
    </p>
    <div class="form-group">
        <div class="col-md-3">
            <input asp-for="Email" class="form-control" placeholder="Correo"/>
        </div>
        <div class="col-md-9">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-user" /><font face="sans-serif"> Registrarse</font></button>
        </div>
        <div class="col-md-12">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
