@{
    ViewData["Title"] = "Quiénes somos";
}
<h2>@ViewData["Title"]</h2>


<p>Wanderlust es una empresa dedicada al producto Turismall, que ofrece todo tipo de información turística de la República Argentina,
    para brindar una propuesta confiable y de calidad a nuestros viajeros. Priorizamos el conocimiento profundo de cada destino y
    estamos convencidos de que, de esa manera, podremos ayudar a nuestros usuarios a organizar y planificar magníficos viajes.
    Buscamos que nuestros viajeros puedan acceder a toda clase de información detallada sobre los destinos que desean recorrer,
    basándose en la inteligencia colectiva que los mismos generan en conjunto.
    </p>

<h3>Misión</h3>

<p> Ser un operador de turismo nacional que brinde un servicio de gran calidad que responda
    a las expectativas de sus usuarios de una forma sencilla y completa al momento de planificar el viaje de sus sueños. </p>

<h3>Visión</h3>

<p>Concebir un producto en el cual potenciales turistas puedan obtener toda la información necesaria para planificar y organizar
   sus viajes a cualquier parte de nuestro país de manera tal de fortalecer el sector turístico en todos sus aspectos,
   sin limitarse a aportar solamente la información más esencial; y a su vez crear un diario de viajes en el que puedan
   ir guardando recuerdos de las aventuras realizadas y, en caso de quererlo así, compartir dichos recuerdos con otros viajeros.</p>