@{
    ViewData["Title"] = "Quiénes somos";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Wanderlust es una empresa dedicada al producto Turismall, que ofrece todo tipo de información turística de la República Argentina,
    para brindar una propuesta confiable y de calidad a nuestros viajeros. Priorizamos el conocimiento profundo de cada destino y
    estamos convencidos de que, de esa manera, podremos ayudar a nuestros usuarios a organizar y planificar magníficos viajes.
    Buscamos que nuestros viajeros puedan acceder a toda clase de información detallada sobre los destinos que desean recorrer,
    basándose en la inteligencia colectiva que los mismos generan en conjunto.
    </p>
