
@{
    ViewData["Title"] = "Home Page";
}



<a asp-controller="Viaje" asp-action="Create"><img height="200" class="center-block" src="@Url.Content("~/Crear.png")" /></a>
<img height="550" src="@Url.Content("~/Home.png")" />