
@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Viaje" asp-action="Create" class="btn btn-primary"><span class="glyphicon glyphicon-plane" /><font face="sans-serif"> Agregar viaje </font></a>